# Carpetas de build del IDE
Debug/
Release/
debug/
release/

# Configuración del IDE
.settings/
.metadata/
.externalToolBuilders/
*.launch
.project
.cproject

# SDK y drivers locales
Drivers/
board/
linker/
mcuxpresso/

# Archivos de salida de la compilación
*.o
*.obj
*.elf
*.axf
*.bin
*.hex
*.map
*.srec
*.sy
*.d

# Archivos generados por el editor/IDE
.project
.cproject
.vscode/
